# Week 9 & 10 Exercises

**Author:** Shadin Chatila

**Date:** 7/30/2024

---

Initializing the connection.

In [82]:

import sqlite3
conn = sqlite3.connect("petsdb")  
# a tiny function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False
print(is_opened(conn))

True

Checking when connection is closed.

In [83]:
conn.close()
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

Initializing connection and creating method to execute queries.

In [84]:
# Connect to the SQLite database
conn = sqlite3.connect("petsdb")
cursor = conn.cursor()

def execute_query(query):
    c.execute(query)
    return c.fetchall()

#### 1. Count of people belonging to different age groups

In [85]:
query1 = "SELECT age, COUNT(*) AS count FROM persons GROUP BY age;"
result1 = execute_query(query1)

for people, age in result1:
    print("We have {} people aged {}".format(people, age))

We have 5 people aged 2
We have 6 people aged 1
We have 7 people aged 1
We have 8 people aged 3
We have 9 people aged 1
We have 11 people aged 2
We have 12 people aged 3
We have 13 people aged 1
We have 14 people aged 4
We have 16 people aged 2
We have 17 people aged 2
We have 18 people aged 3
We have 19 people aged 1
We have 22 people aged 3
We have 23 people aged 2
We have 24 people aged 3
We have 25 people aged 2
We have 27 people aged 1
We have 30 people aged 1
We have 31 people aged 3
We have 32 people aged 1
We have 33 people aged 1
We have 34 people aged 2
We have 35 people aged 3
We have 36 people aged 3
We have 37 people aged 1
We have 39 people aged 2
We have 40 people aged 1
We have 42 people aged 1
We have 44 people aged 2
We have 48 people aged 2
We have 49 people aged 1
We have 50 people aged 1
We have 51 people aged 2
We have 52 people aged 2
We have 53 people aged 2
We have 54 people aged 2
We have 58 people aged 1
We have 59 people aged 1
We have 60 people aged 1
We have 61 people aged 1
We have 62 people aged 2
We have 63 people aged 1
We have 65 people aged 2
We have 66 people aged 2
We have 67 people aged 1
We have 68 people aged 3
We have 69 people aged 1
We have 70 people aged 1
We have 71 people aged 4
We have 72 people aged 1
We have 73 people aged 5
We have 74 people aged 3

#### 2. Age group with the maximum number of people

In [86]:
query2 = "SELECT age, COUNT(*) AS count FROM persons GROUP BY age ORDER BY count DESC LIMIT 1;"
result2 = execute_query(query2)

for people, age in result2:
    print("Highest number of people is {} and came from {} age group".format(people,age))

Highest number of people is 73 and came from 5 age group

#### 3. Count of people who do not have a last name

In [87]:
query3 = "SELECT COUNT(*) AS count FROM persons WHERE last_name IS NULL;"
result3 = execute_query(query3)

print(result3[0])

(60,)

#### 4. Count of people who have more than one pet

In [88]:
query4 = """
SELECT COUNT(*)
FROM 
(SELECT count(owner_id)
FROM pets
GROUP BY owner_id
HAVING COUNT(*) > 1)
"""
result4 = execute_query(query4)

for people in result4:
    print("{} people have more than one pets".format(people[0]))

43 people have more than one pets

#### 5. Count of pets that have received treatment

In [89]:
query5 = "SELECT COUNT(*) AS treated_pets_count FROM pets WHERE treatment_done = 1;"
result5 = execute_query(query5)

print(result5[0])

(36,)

#### 6. Count of pets that have received treatment, and the type of pet is known

In [90]:
query6 = "SELECT COUNT(*) AS treated_pets_count FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL;"
result6 = execute_query(query6)

print(result6[0])

(16,)

#### 7. Count of pets from the city called East Port

In [91]:
query7 = """
SELECT COUNT(*) AS pets_count
FROM pets
JOIN persons ON pets.owner_id = persons.id
WHERE persons.city = 'east port';
"""
result7 = execute_query(query7)

print(result7[0])

(49,)

#### 8. Count of pets from the city called East Port, and who received treatment

In [92]:
query8 = """
SELECT COUNT(*) AS treated_pets_count
FROM pets
JOIN persons ON pets.owner_id = persons.id
WHERE persons.city = 'east port' AND pets.treatment_done = 1;
"""
result8 = execute_query(query8)

print(result8[0])

(11,)